p, ul, ol, dl, blockquote {
	margin-bottom: $font__margin-bottom; 
	font-size: 1em;
	line-height: $font__line-height-body;
}

b, strong { 
	font-weight: bold; 
}

i, em { 
	font-style: italic; 
}

small { 
	font-size: 80%; 
}

a, a:visited { 
	outline: none; 
	color: $font__link-color; 
	text-decoration: none; 
}

a:hover { 
	outline: none; 
	text-decoration:none; 
}

a:active, a:focus { 
	outline: none; 
}

pre {
	white-space: pre-wrap;
}

code {
	color: $font__color;
	font-family: $font__code;
}

blockquote {
	margin-left: 0;
	padding-left: 1.618em;
	border-left: 5px solid lighten($font__color, 70%);
	color: lighten($font__color, 20%);
}

figure {
	figcaption {
		margin-top: 0.382em;
	}

	p {
		margin-bottom: 0;
	}
}

figcaption {
	font-size: 0.695em;
	color: lighten($font__color, 30%); 
}
