/*
 * Responsive
 */

@mixin respond-to($size) {
	@media only screen and (min-width: $size) { @content; }
}

/*
 * Button
 */

@mixin button($background-color, $text-color) {
	background-color: $background-color;
	color: $text-color;

	&:hover {
		background-color: darken($background-color, 16.646%);
	}

	&:active {
		background-color: darken($background-color, 11.100%);
	}
}
