$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__size: 1em;
$font__line-height-body: 1.5;
$font__line-height-pre: $font__line-height-body;
$font__margin-bottom: 1.125em;
$heading__margin-bottom: 0.809em;
$heading__line-height: 1.125;
$font__color: #333;
$font__link-color: #aaa;
