/*
 * Buttons 
 */

.button-static {
	display: inline-block;
	padding: 0.618em 1.5em;
	font-family: inherit;
	text-decoration: none;
	line-height: 1;
	cursor: pointer;
	border: 0;
	border-radius: $btn-roundness;

	&:focus {
		outline: none;
	}
}

.button,
.btn,
a.btn {
	@extend .button-static;
	@include button(#3498db, #fff);
}
